* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(254,254,253);
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*Lora*/
  font-family: Courier;
  letter-spacing: 1px;

}

.title {
  font-size: 32px;
  padding-top: 10%;

}
h2 {
  margin-top: -70px;
}
h3 {
  font-size: 30px;
}
a {
  margin-left: 3%;
  margin-right: 3%;
  text-decoration: none;
  display: inline-block;
  transition: all .5s;
  text-align: center;
  color: #ff00de;

}
a:active {
  color: black;
}

nav {

  text-align: center;
  height: 70px;
  background-color: rgb(254,254,253);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;




}
.nav {

  width: 100%;
  padding-bottom: 15%;
}

ul {

  text-align: center;
  padding: 0;
  margin: 0;
}
li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline;
}
li:not(:first-child):before {
    content: "  -  ";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
  }
  .title {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
  }
  .inner {
    width: 250px;
    height: 200px;
    max-width: 250px;
    max-height: 200px;
  }
}


.projects {
  display: flex;
  /*flex-flow: row wrap;*/
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
  max-width: 800px;
  min-width: 300px;
  padding-bottom: 15%;
  padding-top: 5%;
  margin-top: 10px;
  text-align: center;

}
#projects {
  padding-top: 2%;
}
.project3, .project2, .project1, .project0 {
  padding-bottom: 3%;
}
.aboutMe {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  min-width: 300px;
  padding-bottom: 15%;
  padding-top: 10%;
  flex-wrap: wrap;
}
.me {
  width: 90vw;
}
.skills {
  width: 90vw;
}
.contact {

  width: 100vw;
  padding-top: 10%;
  padding-bottom: 15%;
  text-align: center;
}
.image {
  max-width: 300px;
  max-height: 225px;
  margin: 10px;
  align-self: center;
}
.project0,
.project1,
.project2,
.project3 {
  max-width: 350px;
}


.compensate{
  margin-top: 70px;
}

.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
  width: 100%;
  /*display: block;*/
}

  @-webkit-keyframes blue {
    0%, 100% {background-color: #c9f0ff;}
    33% {background-color: #eafffd;}
    66% {background-color: #a6e4fc;}
  }

  @keyframes blue {
    0%, 100% {background-color: #c9f0ff;}
    33% {background-color: #eafffd;}
    66% {background-color: #a6e4fc;}
  }

  .title {
    -webkit-animation: blue 5s infinite;
            animation: blue 5s infinite;
  }


/*///////////////////////////////////////////////////////////////////////////////*/

  .button2 {
  /*display: inline-block;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*padding: 10px;*/
  border: none;
  /*font: normal 42px/normal "Warnes", Helvetica, sans-serif;*/
  font-family: "Warnes";
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 90px #ff00de , 0 0 120px #ff00de , 0 0 150px #ff00de ;

  -webkit-transition: all 1000ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 1000ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 1000ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 1000ms cubic-bezier(0.42, 0, 0.58, 1);
}

@-webkit-keyframes blueText {
    0%, 100% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff6600 , 0 0 90px #ff6600 , 0 0 120px #ff6600 , 0 0 150px #ff6600 ;}
    20% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #f3f315 , 0 0 90px #f3f315 , 0 0 120px #f3f315 , 0 0 150px #f3f315 ;}
    40% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff0099 , 0 0 90px #ff0099 , 0 0 120px #ff0099 , 0 0 150px #ff0099 ;}
    60% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #cc00ff , 0 0 90px #cc00ff , 0 0 120px #cc00ff , 0 0 150px #cc00ff ;}
    80% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ff00 , 0 0 90px #00ff00 , 0 0 120px #00ff00 , 0 0 150px #00ff00 ;}
  }

  @keyframes blueText {
    0%, 100% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff6600 , 0 0 90px #ff6600 , 0 0 120px #ff6600 , 0 0 150px #ff6600 ;}
    20% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #f3f315 , 0 0 90px #f3f315 , 0 0 120px #f3f315 , 0 0 150px #f3f315 ;}
    40% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff0099 , 0 0 90px #ff0099 , 0 0 120px #ff0099 , 0 0 150px #ff0099 ;}
    60% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #cc00ff , 0 0 90px #cc00ff , 0 0 120px #cc00ff , 0 0 150px #cc00ff ;}
    80% {    text-shadow:  0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ff00 , 0 0 90px #00ff00 , 0 0 120px #00ff00 , 0 0 150px #00ff00 ;}

  }
  .button2 {
    -webkit-animation: blueText 7s 5;
            animation: blueText 7s 5;
  }
