* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(254,254,253);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; /*Lora*/

}
div {
  /*padding-top: 5%;*/
}
h1 {
  font-size: 72px;

}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 30px;
}
a {
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: all .5s;
}
a:active {
  color: black;
}
a:hover {
  /*background-color: rgba(192, 192, 192, 0.5);*/
  border-radius: 50%;
  text-shadow: 0 0 20px rgb(83,207,255);
  transform: scale(1.5);
}
nav {

  text-align: center;
  height: 70px;
  background-color: rgb(254,254,253);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;




}
.nav {
  /*position: fixed;*/
  /*bottom: 0;*/
  width: 100%;
  /*padding-top: 10%;*/
  padding-bottom: 10%;
}
ul {
  /*list-style: georgian;*/
  /*background-color: #444;*/
  text-align: center;
  padding: 0;
  margin: 0;
}
li {
  /*font-family: 'Oswald', sans-serif;*/
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  /*border-bottom: 1px solid #888;*/
  display: inline;
}
li:not(:first-child):before {
    content: "  -  ";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.title {
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
  background-color: rgb(201, 240, 255);
  border-radius: 100%;
  margin: 80px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(192,192,192, 1);
}
.inner {
  width: 450px;
  height: 400px;
  max-width: 450px;
  max-height: 400px;
  /*margin: 0 auto;*/
  text-align: center;
}
.projects {
  display: flex;
  /*flex-flow: row wrap;*/
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
  /*background-color: yellow;*/
  max-width: 800px;
  padding-bottom: 15%;
  padding-top: 12%;
  text-align: center;
  /*height: 800px;*/
  /*margin: 0 auto;*/
}
.project3, .project2, .project1, .project0 {
  padding-bottom: 2%;
}
.aboutMe {
  display: flex;
  justify-content: space-around;
  /*sbackground-color: lightgreen;*/
  max-width: 800px;
  /*max-width: 450px;*/
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*align-self: baseline;*/
  padding-bottom: 15%;
  padding-top: 10%;
  flex-wrap: wrap;
}
.me {
  flex-grow: 1;
  width: 100%;
}
.skills {
  width: 100%;
  /*flex-grow: 3;*/
  /*display: block*/
  /*text-align: center;*/
}
.contact {
  /*background-color: orange;*/
  /*flex-grow: 1;*/
  /*border-radius: 50%;*/
  width: 800px;
  max-width: 800px;
  padding-top: 10%;
  padding-bottom: 15%;
  text-align: center;
}
.image {
  max-width: 300px;
  max-height: 225px;
  margin: 10px;
  align-self: center;
}
.project0,
.project1,
.project2,
.project3 {
  max-width: 350px;
}

/*.bottom {
  position: fixed;
  bottom: 0;
}*/

.compensate{
  margin-top: 70px;
}

.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
  width: 100%;
  /*display: block;*/
}


/*@keyframes spin {
  0%, 100% {background-color: #ff0000;}
  8% {background-color: #ff8000; }
  16% {background-color: #ffff00;}
  24% {background-color: #80ff00;}
  32% {background-color: #00ff00;}
  40% {background-color: #00ff80;}
  48% {background-color: #00ffff;}
  56% {background-color: #0080ff;}
  64% {background-color: #0000ff;}
  72% {background-color: #7f00ff;}
  80% {background-color: #ff00ff;}
  88% {background-color: #ff007f;}
  }*/



  @-webkit-keyframes blue {
    0%, 100% {background-color: #c9f0ff;}
    33% {background-color: #eafffd;}
    66% {background-color: #a6e4fc;}
  }

  @keyframes blue {
    0%, 100% {background-color: #c9f0ff;}
    33% {background-color: #eafffd;}
    66% {background-color: #a6e4fc;}
  }

  .title {
    -webkit-animation: blue 5s infinite;
            animation: blue 5s infinite;
  }
